<head>
    <link rel="stylesheet" href="/style/style_blog.css" />
    <link rel="stylesheet" href="/style/style_write.css" />
</head>
<div class="container">
    <div class="chat-container">
        {{#if user}}
            <input type="hidden" value="{{user.email}}" id="emailUser" />
            <input type="hidden" value="" id="socketUser" />
            <input type="hidden" value="{{user.name}}" id="nameUser" />
            <input type="hidden" value="{{user.id}}" id="idUser" />
        {{/if}}
        <div class="container1">
            <div id="chat-log">
                <div class="message">
                    {{#if dataMessage}}
                        <div class="sender">{{user.name}}</div>
                        {{#each dataMessage}}
                            {{#if (eq this.userSend ../user.id)  }}
                                <div class="contentSender ">{{this.content}}</div>
                            {{else }}
                                <div class="receive">admin</div>
                                <div class="contentReceive">{{this.content}}</div> 
                            {{/if}}
                        {{/each }}
                    {{/if}}
                </div>
                <!-- Thêm các tin nhắn khác vào đây -->
            </div>
        </div>

        <div class="input-group">
            <form action="" id="form-send">
                <input
                    type="text"
                    id="user-input"
                    class="form-control"
                    placeholder="Enter your message..."
                />
                <div class="input-group-append">
                        <button
                            id="send-button"
                            class="btn btn-primary"
                            type="submit"
                        >gửi</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chatUser.js"></script>
<script>

</script>