<head>
    <link rel="stylesheet" href="/style/style_Listhotel.css" />
</head>
<body>
    <div class="listContainer" id="listContainer">
        <div class="listWrapper">
            <div class="listSearch">
                <h1 class="lsTitle">Search</h1>
                <div class="lsItem">
                    <label>Destination</label>
                    <input
                        placeholder="{destination}"
                        type="text"
                        value="{{city}}"
                        id="city"
                    />
                </div>
                <div class="lsItem">
                    <label>Check-in Date</label>
                    <span>{{dateBegin}} to {{dateEnd}}</span>
                    <input
                        type="hidden"
                        class="lsOptionInput"
                        value="{{dateBegin}}"
                        id="dateBegin"
                    />
                    <input
                        type="hidden"
                        class="lsOptionInput"
                        value="{{dateEnd}}"
                        id="dateEnd"
                    />
                    <div class="lsItem">
                        <label>Options</label>
                        <div class="lsOptions">
                            <div class="lsOptionItem">
                                <span class="lsOptionText">
                                    Min price
                                    <small>per night</small>
                                </span>
                                <input
                                    type="number"
                                    class="lsOptionInput"
                                    value="0"
                                    id="valMin"
                                />
                            </div>
                            <div class="lsOptionItem">
                                <span class="lsOptionText">
                                    Max price
                                    <small>per night</small>
                                </span>
                                <input
                                    type="number"
                                    class="lsOptionInput"
                                    value="0"
                                    id="valMax"
                                />
                            </div>
                            <div class="lsOptionItem">
                                <span class="lsOptionText">Adult</span>
                                <input
                                    type="number"
                                    min="{1}"
                                    class="lsOptionInput"
                                    placeholder=""
                                    value="{{countPerson}}"
                                    id="countPerson"
                                />
                            </div>
                            <div class="lsOptionItem">
                                <span class="lsOptionText">Children</span>
                                <input
                                    type="number"
                                    min="{0}"
                                    class="lsOptionInput"
                                    placeholder=""
                                    value="{{countChilden}}"
                                    id="countChilden"
                                />
                            </div>
                            <div class="lsOptionItem">
                                <span class="lsOptionText">Room</span>
                                <input
                                    type="number"
                                    min="{1}"
                                    class="lsOptionInput"
                                    placeholder=""
                                    value="{{countRoom}}"
                                    id="countRoom"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <button id="Search">Search</button>
            </div>
            <div class="listResult">
                {{#each listHotel}}
                    <div class="searchItem">
                        <img src="{{this.imgHotel}}" alt="" class="siImg" />
                        <div class="siDesc">
                            <h1 class="siTitle">{{this.nameHotel}}</h1>
                            <span class="siDistance">{{this.Address}}</span>
                            <span class="siTaxiOp">{{this.typeOf}}</span>
                        </div>
                        <div class="siDetails">
                            <div class="siDetailTexts">
                                <span
                                    class="siPrice"
                                >{{this.moneyForOneNight}}đ</span>
                                <form
                                    action="/service/detailHotel/{{this.id}}"
                                    method="get"
                                    id="bookingHotels"
                                >
                                    <input
                                        type="hidden"
                                        value="{{this.id}}"
                                        class="idRoom"
                                    />
                                    <input
                                        type="hidden"
                                        name="countChilden"
                                        value="{{../countChilden}}"
                                    />
                                    <input
                                        type="hidden"
                                        name="dateBegin"
                                        value="{{../dateBegin}}"
                                    />
                                    <input
                                        type="hidden"
                                        name="dateEnd"
                                        value="{{../dateEnd}}"
                                    />
                                    <input
                                        type="hidden"
                                        name="countPerson"
                                        value="{{../countPerson}}"
                                    />
                                    <input
                                        type="hidden"
                                        name="countRoom"
                                        value="{{../countRoom}}"
                                    />
                                    <button
                                        class="siDetailButton"
                                        type="submit"
                                    >
                                        Xem chi tiết
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
    ></script>
    <script src="/js/listhotel.js"></script>
</body>