<head><link rel='stylesheet' href='/style/style_single.css' /></head>
<body>
  <div class='app'>
    <div class='home'>
      <div class='posts'>
        <div class='single'>
          <div class='content'>
            <img src='/upload/{{post.imageUrl}} ' alt='' />
            <div class='user'>
              <img src='/img/user.png' alt='' />
              <div class='info'>
                <span>{{post.author.name}}</span>
                <p>Posted {{timeSince post.createdAt}} ago</p>
              </div>
            </div>
            <h1>{{post.title}}</h1>
            <p>{{{post.content}}}</p>
          </div>
          <div class='menu'>
            <h1>Other posts you may like</h1>
            {{#each recommended}}
              <div class='post'>
                <img src='/upload/{{this.imageUrl}}' alt='' />
                <h2>{{this.title}}</h2>
                <a href='/post/{{this.slug}}'><button>Read More</button></a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

</body>